var _ = function (str,isDimension){
  if(str.indexOf("@")!=0){
    if(isDimension){
      if(str==='inherit'){
        return str
      }
      if (str.lastIndexOf('dp')===str.length-'dp'.length) {
        return str.replace('dp', 'rpx')
      } else if (str.lastIndexOf('dip')===str.length-'dip'.length) {
        return str.replace('dip', 'rpx')
      } else if (str.lastIndexOf('sp')===str.length-'sp'.length) {
        return str.replace('sp', 'px')
      } else if (str.lastIndexOf('px')===str.length-'px'.length) {
        return str
      } else {
        throw new Error(str)
      } 
    }else{
      return str
    }
  }
  str = str.substring(1)
  var libs ={
    android:require("android2weixin/java/android/R.wxs")
  }
  var projects = [
    require("java/com/tencent/trtcsimpledemo/R.wxs"),
    require("customcapture/java/com/tencent/custom/R.wxs"),
    require("live/java/com/tencent/live/R.wxs")
  ]
  
  var lib
  var p = str.indexOf(":")
  if(p>=0){
    lib = str.substring(0,p)
    str = str.substring(p+1)
  }
  var type_key = str.split("/")
  var type = type_key[0]
  if(type==='id' || type==='+id' ){
    return key
  }
  var key = type_key[1]
  if(lib){
    return libs[lib][type][key]
  }else{
  for(var r=0 ; r<projects.length;r++){
    var result = projects[r][type][key]
    if(result){
      if(type==="drawable"){
         var css = "";
         switch(result.type){
           case "shape":
            switch(result.shape){
              case "rectangle":
                if(result.solid){
                  var solid = result.solid
                  if(solid.color){
                    css+=_(solid.color)+";"
                  }
                }
                if(result.corners){
                  var corners = result.corners
                  if(corners.bottomLeftRadius){ css+="border-bottom-left-radius:"+_(corners.bottomLeftRadius,true)+";" }
                  if(corners.bottomRightRadius){ css+="border-bottom-right-radius:"+_(corners.bottomRightRadius,true)+";" }
                  if(corners.topLeftRadius){ css+="border-top-left-radius:"+_(corners.topLeftRadius,true)+";" }
                  if(corners.topRightRadius){ css+="border-top-right-radius:"+_(corners.topRightRadius,true)+";" }
                }
                break;
            }
             break;
         }
        return css;
      }
      return result;
    }
  }
  }
}
module.exports = _;