module.exports = {
  color:{
 rtc_main_bg:"#1B1B1B",
 rtc_green_bg:"#00A66B",
 rtc_title_bg:"#B7B7B7"
  },
  string:{
    app_name:"rtc",
    rtc_room_input_error_tip:"房间号和用户名不能为空",
   rtc_permisson_error_tip:"用户没有允许需要的权限，加入通话失败"
  },
  drawable:{
    rtc_button_bg:{
      "node":"shape",
      "corners":{
        "topLeftRadius":"5dip",
        "topRightRadius":"5dip",
        "bottomRightRadius":"5dip",
        "bottomLeftRadius":"5dip"
      },
      "solid":{
        "color":"@color/rtc_green_bg"
      },
      "shape":"rectangle"
    },
    rtc_edit_bg:{
      "node":"shape",
      "corners":{
        "topLeftRadius":"2dip",
        "topRightRadius":"2dip",
        "bottomRightRadius":"2dip",
        "bottomLeftRadius":"2dip"
      },
      "solid":{
        "color":"#EFEFEF"
      },
      "shape":"rectangle",
      "stroke":{
        "color":"#FFFFFF",
        "width":"5px"
      }
    },
    rtc_mute_audio:{
      "node":"selector",
      "item":[
        {
          "drawable":"@mipmap/rtc_mic_on",
          "state_pressed":"false"
        },
        {
          "drawable":"@mipmap/rtc_mic_off",
          "state_pressed":"true"
        }
      ]
    },
    rtc_mute_video:{
      "node":"selector",
      "item":[
        {
          "drawable":"@mipmap/rtc_camera_on",
          "state_pressed":"false"
        },
        {
          "drawable":"@mipmap/rtc_camera_off",
          "state_pressed":"true"
        }
      ]
    },
    rtc_switch_camera:{
      "node":"selector",
      "item":[
        {
          "drawable":"@mipmap/rtc_switch_camera",
          "state_pressed":"false"
        },
        {
          "drawable":"@mipmap/rtc_switch_camera",
          "state_pressed":"true"
        }
      ]
    }
  }
}